<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyServicesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MyServicesSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44342/MyServices.asmx" binding="basicHttpBinding"
                bindingConfiguration="MyServicesSoap" contract="ServiceRefSOA.MyServicesSoap"
                name="MyServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>